* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.grid {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.grid div {
  padding: 1.5rem;
  background-color: #eee;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid div h1,
.grid div .og-title {
  margin-bottom: 1rem;
}

.grid div p {
  margin-bottom: 0.3rem;
}

.grid div .og-title {
  opacity: 0.5;
}

